# NPM renames .gitignore to .npmignore
# In order to prevent that, we remove the initial "."
# And the CLI then renames it

App/build
App/Pods
App/public
App/Podfile.lock
xcuserdata
App/*.dSYM.zip
App/App/Assets.xcassets/AppIcon.appiconset
App/App/Assets.xcassets/Splash.imageset
App/*.ipa

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

