<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button routerLink="/settings"
          routerDirection="forward">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
      Doomsday
    </ion-title>
    <ion-text slot="end">{{ elapsed | number:'2.1-1'}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-bottom: 0px;">
  <ion-item lines="none" style="height: 70px;">
    <ion-label>
        <ion-button size="large" (click)="test()" color="primary" expand="block" [disabled]="testing">Test Me</ion-button>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
      <ion-label class="ion-text-center"><h1>&nbsp;{{ TestDisplay | date }}&nbsp;</h1></ion-label>
  </ion-item>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col size="4">
        <ion-list>
            <ion-item *ngFor="let day of days; let i = index;" 
                      [color]="buttonColors[i]" 
                      lines="full"
                      [disabled]="!testing"
                      (click)="buttonPress(i)">
              <ion-label class="ion-text-center"><h1>{{ day }}</h1></ion-label>
            </ion-item>
                <ion-item lines="none">
                <ion-label class="ion-text-center">Streak: {{stats?.streak}}</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="ion-text-center">Best: {{stats?.recordStreak}}</ion-label>
              </ion-item>
              <ion-item lines="none">
                  <ion-label class="ion-text-center">{{(stats?.wins / stats?.trials * 100).toFixed(1)}}%</ion-label>
                </ion-item>
                        </ion-list>          
    </ion-col>
    <ion-col size="8">
        <ion-list>
            <ion-item *ngFor="let step of steps">
                <ion-label class="ion-text-right">
                  <span [innerHtml]="step"></span>
                </ion-label>
              </ion-item>      
        </ion-list>      
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
